/* Fundo geral */
.root {
    -fx-background-color: #111111;
}

/* Título */
.label {
    -fx-text-fill: #f2c94c;
    -fx-font-family: "Segoe UI", sans-serif;
}

/* Campos de texto */
.text-field, .password-field {
    -fx-background-color: #1c1c1c;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-text-fill: #e6e6e6;
    -fx-prompt-text-fill: #7a7a7a;
    -fx-padding: 10;
    -fx-font-size: 14px;
    -fx-border-color: #2b2b2b;
}

.text-field:focused, .password-field:focused {
    -fx-background-color: #222222;
    -fx-border-color: #f2c94c;
    -fx-border-width: 1.5;
}

/* Botão Entrar (amarelo) */
.button {
    -fx-background-radius: 8;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #f2c94c;
    -fx-text-fill: #111111;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #e4b73d;
}

.button:pressed {
    -fx-background-color: #cda032;
}
