/* =============================== */
/*  DASHBOARD - TEMA DARK         */
/* =============================== */

.dashboard-root {
    -fx-background-color: #121212;
    -fx-font-family: "Inter";
}

/* Área central */
.dashboard-container {
    -fx-padding: 30 0 0 0;
    -fx-alignment: center;
}

/* Título */
.dashboard-title {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #f5d442;
}

/* Cards */
.dashboard-card {
    -fx-background-color: #1a1a1a;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
    -fx-border-color: #2b2b2b;
    -fx-border-width: 1;

    -fx-padding: 20 30;
    -fx-min-width: 200;
    -fx-spacing: 10;
    -fx-alignment: center;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 15, 0.3, 0, 4);
}

.dashboard-card:hover {
    -fx-background-color: #222222;
    -fx-translate-y: -4;
}

/* Label do card */
.dash-label {
    -fx-font-size: 14px;
    -fx-text-fill: #cccccc;
}

/* Número */
.dash-number {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #f5d442;
}
