services:
  db:
    image: postgres:17.6-alpine
    env_file:
      - ../.env.development
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ..:/workspaces/ags-unissex-2.0:cached

volumes:
  postgres_data:
